@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
  padding-left: 15px;
  margin-top: 10px;
}
<<<<<<< HEAD
.paging a {
  padding-left: 15px;
  margin-top: 0px;
}
=======
>>>>>>> 3ac4c5ea334ca08bb4a668b148a9e1dfa67ed556
.logo {
  float:left;
  margin-top: 10px;
  color:white;
}
.logo a {
  font-size: 1.3em;
  color:#ffffff;
}
.logo a span {
  font-weight: 300;
}
.elogo {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
}
div#contain{
  width: 100%;
  margin: 0 auto;
}

.content p {
  color: #424242;
  font-size: 0.73em;
}
div#box{
  margin-top: 15px;
}
div#box .box-top {
  color: #fff;
  text-shadow: 0px 1px #000;
  background-color: #9F7476;
  padding: 5px;
  font-weight: 300;
}
div#box .box-panel {
  padding: 15px;
  background-color: #fff;
}
ul#nav li a{
  color: #ccc;
  display: block;
  padding: 10px;
  font-size: 0.8em;
  border-bottom: 1px solid #0A0A0A;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
ul#nav li a:hover {
  background-color: #333336;
  color: #fff;
  padding-left: 30px;
}
ul#nav li a.selected {
  background-color: #333336;
  color: #fff;
}
.mobilea{
  padding-top:0px;
}
a.mobilea {
  display: block;
  height: 40px;
  color: #fff;
  background-color: #000;
  padding-top: 10px;
  text-align: center;
  padding: 7px;
  font-size: 1.5em;
  text-decoration: none;
}

body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.nav-bg {
  background-color: #54000E;
}

.navbar-toggler-icon {
  color: #fff;
}

.search {
  position: relative;
  bottom: 40px;
}

.search-bar {
  height: 80px;
  font-size: 1.4em;
  padding-left: 30px;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #54000E;
  -webkit-box-shadow: 3px 3px 5px 6px #54000E;
  box-shadow: 3px 3px 5px 6px #54000E;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Open Sans';
  width: 100%;
  height: 100%;
}

div#header {
  width: 100%;
  height: 50px;
  background-color: #81020D;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color:#000000;
  padding-left: 15px;
  margin-top: 10px;
}
.logo {
  float:left;
  margin-top: 10px;
  color:white;
}
.logo a {
  font-size: 1.3em;
  color:#ffffff;
}
.logo a span {
  font-weight: 300;
}
.elogo {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
}
div#contain{
  width: 100%;
  margin: 0 auto;
}
#users tr:nth-child(even){background-color: #f2f2f2;}
.sidebar{
  width: 20%;
  text-decoration: none;
  height: 800px;
  background-color: #171717;
  float: left;
  font-size: 1.5em;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content{
  width: 80%;
  float: right;
  height: 800px;
  background-color: #ffffff;
  padding: 15px;
}
.content p {
  color: #424242;
  font-size: 0.73em;
}
div#box{
  margin-top: 15px;
}
div#box .box-top {
  color: #fff;
  text-shadow: 0px 1px #000;
  background-color: #9F7476;
  padding: 5px;
  font-weight: 300;
}
div#box .box-panel {
  padding: 15px;
  background-color: #fff;
}
ul#nav li a{
  color: #ccc;
  display: block;
  padding: 10px;
  font-size: 0.8em;
  border-bottom: 1px solid #0A0A0A;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
ul#nav li a:hover {
  background-color: #333336;
  color: #fff;
  padding-left: 30px;
}
ul#nav li a.selected {
  background-color: #333336;
  color: #fff;
}
table#users {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table#users td, table#users th {
  border: 1px solid #ddd;
  padding: 8px;
}

table#users tr:nth-child(even){background-color: #f2f2f2;}

table#users tr:hover {background-color: #ddd;}

table#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f4bc42;
  color: white;
}
/* html,body{
overflow-x:hidden;
} */
/* a.mobile:active {
  background-color: #333336;
}
@media only screen and (max-width: 320px){
  .sidebar {
    width: 100%;
  }
  .content {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 320px){
  a.mobile{
    display: none;
  }
  .sidebar{
    height: 100%;
  }
} */
